

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body {
            background-color: #141414;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        h2 {
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        h4 {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }
    </style>

</head>
<body>
    <h2> Hey {{user}}, Please find your monthly progress report attached to this mail.</h2>
    <h4>Have a Good Day</h4>
</body>
</html> 